@mixin letters() {
    font-size: 4em;
    letter-spacing: .3em;
}

body {
    font-family: "Courier New", Courier, monospace;
}

#answerTick {
    position: absolute;
    color: green;
    top: -50px;
    -webkit-transform: translate(-50%, 0);
}

#wordHolder {
    margin-top: 50px;
}

#wordHolderInner {
    text-align: center;
}

#word {
    display: inline-block;
    cursor: pointer;
}

.letter {
    @include letters();
    color: red;
    display: inline-block;
}

.letterPicked {
    color: silver;
}

#resetHolder {
    @include letters();
    display: inline-block;
    cursor: pointer;
}

#answerHolderInner {
    text-align: center;
}

#answer {
    display: inline-block;
}

#endRoundMessage {
    text-align: center;
    font-size: 4em;
}

#score {
    text-align: center;
    font-size: 4em;
}

#nextRound {
    text-align: center;
    font-size: 2em;
    color: navy;
    cursor: pointer;
}