@mixin letters() {
    font-size: 4em;
    color: red;
    letter-spacing: .3em;
}

body {
    
}

#holder {
    width: 100%;
    height: 98vh;
}

#wordHolder {
    height: 33%;
    max-height: 150px;
    width: 100%;
    position: relative;
}

#wordHolderInner {
    text-align: center;
    width: 100%;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#word {
    text-align: center;
    display: inline-block;
}

#reset {
    display: inline-block;
}

.wordLetter {
    display: inline-block;
    cursor: pointer;
    @include letters();
}

#answerHolder {
    height: 33%;
    max-height: 150px;
    width: 100%;
    position: relative;
}

#answerHolderInner {
    text-align: center;
    width: 100%;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#answer {
    @include letters();
    text-align: center;
    display: inline-block;
}

#answerTick {
    display: inline-block;
}

